/* src/styles.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}